{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main_shop/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav-links">
            <li class="nav-link"><a href=#>Log in</a></li>
            <li class="nav-link"><a href="{% url 'register' %}">Register</a></li>
            <li class="nav-link"><a href=#>Shop</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <footer class="main-footer">
        <p class="footer-text">Webshop@2020</p>
    </footer>
</body>
</html>
