{% extends 'main_shop/base.html' %}
{% load static %}

{% block javascript %}
<script type="text/javascript" src="{% static 'main_shop/javascript/shop.js' %}"></script>
{% endblock javascript %}

{% block cart %}
{% if user.is_authenticated %}
  {% if shop_items %}
    <a data-role = "cart" href="{% url 'main_shop:cart' %}">Cart({{ total_amount }})</a>
    {% else %}
    <a data-role= "cart" href="{% url 'main_shop:cart' %}">Cart(xxx)</a>
    {% endif %}
  {% endif %}
{% endblock cart %}

{% block content %}

{% if user.is_authenticated == False %}
  <p class="text-center"> Please login to make full use of the shop
    <a href="{% url 'users:login' %}?next={{ request.get_full_path|urlencode}}">Login</a>
  </p>
  {% endif %}
<h1 class="shop-title mt-5 text-center">Welcome to the Shop!!</h1>
<p class="shop-subtitle mt-3 text-center"> Please select items you like and place them in the cart</p>
  <article class="shop media content-section">
      {% for shop_item in shop_items %}
        <div class="shop-item content">
          <h2> {{ shop_item.name }}</h2>
          <img style="width : 200px;height : 200px;"src="{{ shop_item.img.url }}">
          <p class="ml-2"> {{ shop_item.description }}</p>
          {% if shop_item.stock > 0 %}
            <h4 style="color : green" class="stock-notification">
              In Stock {{ shop_item.stock }} left
            </h4>

          {% else %}
            <h4 style="color : red" class=stock-notification">Out of stock</h4>
          {% endif %}
          <h3> ${{ shop_item.price }}</h3>
          {% if user.is_authenticated %}
            <button class="btn btn-info mb-2"
            data-role="add-to-cart"
            data-product-id="{{ shop_item.id }}">
            Add to Cart
          </button>
          {% endif %}
        </div>
      {% endfor %}
  </article>
{% endblock %}
