.navbar {
    background-color : grey;
    padding : 10px;
}

.register-back-link {
    margin : 40px;
}

.nav-links {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    width : 100%
}

.nav-link {
    list-style : none;
}

.nav-link > a {
    text-decoration : none;
}

.main-title {
    margin : 40px;
    text-align : center;
}

.main-paragraph {
    margin : 10px;
}

.shop {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 400px 400px;
  margin: auto;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border : 1px grey solid;
  margin-top: 15px;
  width: 350px;
}

.footer-text {
    text-align : center;
    margin : auto;
}
