.navbar {
    background-color : grey;
    padding : 10px;
}

.register-back-link {
    margin : 40px;
}

.nav-links {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    width : 100%
}

.nav-link {
    list-style : none;
}

.nav-link > a {
    text-decoration : none;
}

.main-title {
    margin : 40px;
    text-align : center;
}

.main-paragraph {
    margin : 10px;
}

.main-footer {
    text-align : center;
    margin : auto;
}

